html { 
    background: url("http://images.all-free-download.com/images/graphiclarge/rippled_wall_background_01_hd_pictures_169887.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }





body {
    text-align: center;
}

h1 {
	text-transform: uppercase;
    font-family: "Arial Black", Gadget, sans-serif;
	font-style: italic;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
